In [2]:
import pandas as pd
import plotly.express as px
import json
from firebase import firebase

In [3]:
#Tutorial we followed for reading data in firebase from python: https://morioh.com/p/4dca3ded4cea

firebase = firebase.FirebaseApplication('https://safer-walks-default-rtdb.firebaseio.com/', None)
parents_data = firebase.get('/RegisteredParents', '')

In [4]:
#reading schoolsdata file which contains all schools in Sweden.
schools_file = 'schoolsdata.csv'
df_schools = pd.read_csv(schools_file)
df_schools

      school_long  school_lat     osm_id               school_name
0       11.939127   57.694679    4742340               Fjällskolan
1       11.945730   57.696740    4768432      Oscar Fredriksskolan
2       18.116401   59.382723    4875003          Sticklinge skola
3       17.914796   59.482734    6062883            Rotsunda skola
4       17.920795   59.465465   13862875            Stallets skola
...           ...         ...        ...                       ...
3105    14.499669   59.316717  871653648             Skrantaskolan
3106    14.077498   57.894733  871990590  I Ur och Skur Oxdragaren
3107    14.082188   57.919182  872880398       Förskolan Äventyret
3108    13.931429   55.456706  874056551          Köpingebro skola
3109    14.542982   60.993327   11521415           Utmelandsskolan

[3110 rows x 4 columns]

In [5]:
#Creating a dataframe from parents_data. 
df_parents = pd.DataFrame()
for i, parent in enumerate(parents_data.values()):
    df_parents = df_parents.append(pd.DataFrame(parent, index=[i]), ignore_index=True)

In [6]:
#Splitting userLocation from df_parents, into latitude: user_lat and longitude: user_long.
df_parents['user_lat'] = [float(s.split(',')[0]) for s in df_parents['userLocation']]
df_parents['user_long'] = [float(s.split(',')[1]) for s in df_parents['userLocation']]

In [7]:
#Merging df_schools into df_parents by schoolId(df_parents) and osm_id(df_schools)
df = pd.merge(df_parents, df_schools, left_on='schoolId', right_on='osm_id')

In [8]:
df.groupby("school_name").count()

,parentName,schoolId,timeRegistration,userLocation,user_lat,user_long,school_long,school_lat,osm_id
school_name,,,,,,,,,
Edsbergsskolan,11,11,11,11,11,11,11,11,11
Gärdeskolan,10,10,10,10,10,10,10,10,10
Hagalundsskolan,2,2,2,2,2,2,2,2,2
Kärrdalsskolan,5,5,5,5,5,5,5,5,5
Nordiska musikgymnasiet,2,2,2,2,2,2,2,2,2
Pysslingen,1,1,1,1,1,1,1,1,1
Pärlan,2,2,2,2,2,2,2,2,2
Rudbeck Valfrihetens Gymnasium,9,9,9,9,9,9,9,9,9
Råsunda skola,3,3,3,3,3,3,3,3,3
Rösjöskolan,12,12,12,12,12,12,12,12,12
Segelbåtens förskola,1,1,1,1,1,1,1,1,1
Skärholmens Gymnasieskolor,4,4,4,4,4,4,4,4,4
Sofielundsskolan,4,4,4,4,4,4,4,4,4
Stocksundsskolan,1,1,1,1,1,1,1,1,1
Sätraskolan,7,7,7,7,7,7,7,7,7
Vittra Rösjötorp,5,5,5,5,5,5,5,5,5
Västerholms friskola,6,6,6,6,6,6,6,6,6

In [9]:
df

,parentName,schoolId,timeRegistration,userLocation,user_lat,user_long,school_long,school_lat,osm_id,school_name
0,Johan Eriksson,299737854,"24, Dec, 2020, 12:05","59.2794315,17.8900085",59.279432,17.890009,17.899835,59.273127,299737854,Västerholms friskola
1,Sofia Andersson,299737854,"24, Dec, 2020, 14:05","59.2794355,17.8899913",59.279435,17.889991,17.899835,59.273127,299737854,Västerholms friskola
2,Manpreet Singh,299737854,"24, Dec, 2020, 15:28","59.2796401,17.8918366",59.279640,17.891837,17.899835,59.273127,299737854,Västerholms friskola
3,Petra Johansson,299737854,"24, Dec, 2020, 15:36","59.2779426,17.8854605",59.277943,17.885461,17.899835,59.273127,299737854,Västerholms friskola
4,Joe Tribiani,299737854,"01, Jan, 2021, 15:24","59.2808348,17.8923531",59.280835,17.892353,17.899835,59.273127,299737854,Västerholms friskola
...,...,...,...,...,...,...,...,...,...,...
80,Elham Taghvi,387742248,"01, Jan, 2021, 14:54","59.2762491,17.9105009",59.276249,17.910501,17.919173,59.284660,387742248,Sätraskolan
81,Lucas knight,387742248,"01, Jan, 2021, 15:04","59.2771793,17.9091646",59.277179,17.909165,17.919173,59.284660,387742248,Sätraskolan
82,Harold Finch,387742248,"01, Jan, 2021, 15:14","59.2766979,17.9085581",59.276698,17.908558,17.919173,59.284660,387742248,Sätraskolan
83,Emilie Green,40902175,"01, Jan, 2021, 15:14","59.2766979,17.9085581",59.276698,17.908558,17.928540,59.272760,40902175,Pysslingen
84,Monica Geller,513059561,"01, Jan, 2021, 15:14","59.2766979,17.9085581",59.276698,17.908558,17.931784,59.275220,513059561,Segelbåtens förskola

In [10]:
df.groupby("school_name").count()

,parentName,schoolId,timeRegistration,userLocation,user_lat,user_long,school_long,school_lat,osm_id
school_name,,,,,,,,,
Edsbergsskolan,11,11,11,11,11,11,11,11,11
Gärdeskolan,10,10,10,10,10,10,10,10,10
Hagalundsskolan,2,2,2,2,2,2,2,2,2
Kärrdalsskolan,5,5,5,5,5,5,5,5,5
Nordiska musikgymnasiet,2,2,2,2,2,2,2,2,2
Pysslingen,1,1,1,1,1,1,1,1,1
Pärlan,2,2,2,2,2,2,2,2,2
Rudbeck Valfrihetens Gymnasium,9,9,9,9,9,9,9,9,9
Råsunda skola,3,3,3,3,3,3,3,3,3
Rösjöskolan,12,12,12,12,12,12,12,12,12
Segelbåtens förskola,1,1,1,1,1,1,1,1,1
Skärholmens Gymnasieskolor,4,4,4,4,4,4,4,4,4
Sofielundsskolan,4,4,4,4,4,4,4,4,4
Stocksundsskolan,1,1,1,1,1,1,1,1,1
Sätraskolan,7,7,7,7,7,7,7,7,7
Vittra Rösjötorp,5,5,5,5,5,5,5,5,5
Västerholms friskola,6,6,6,6,6,6,6,6,6

In [11]:
dff = df.loc[df["schoolId"] == 70223549 ]

In [12]:
numerical = ["user_long", "user_lat"]

X = dff[[c for c in dff.columns if c in numerical]]


X = pd.DataFrame(X, columns=numerical)
y = dff.iloc[:, -1]

In [13]:
from sklearn.cluster import KMeans
from sklearn import metrics

In [14]:

kmeans = KMeans(n_clusters=3)

#compute kmeans clustering
kmeans.fit(X)
#call the kmeans object, predict, to predict the cluster index of each sample. 

y_kmeans = kmeans.predict(X)

In [15]:
y_kmeans

array([0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2], dtype=int32)

In [17]:
def evaluation_metrics(X, labels_pred, metric_name):


        s_s = metrics.silhouette_score(X, labels_pred, metric=metric_name)
       

        metrics_names = ["Silh_S"]
        values = [s_s]
        

        result = list(zip(metrics_names,values))
        result = pd.DataFrame(result, columns=['Metric','Value'])

        return result

In [18]:
evaluation_metrics(X, kmeans.labels_, "euclidean" )

   Metric     Value
0  Silh_S  0.708996

In [19]:
import hdbscan

In [32]:
clusterer = hdbscan.HDBSCAN(min_cluster_size=3, metric = 'haversine')
clusterer.fit(X)

HDBSCAN(metric='haversine', min_cluster_size=3)

In [33]:
hdbscan_result = clusterer.labels_

In [34]:
hdbscan_result

array([1, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0])

In [37]:
evaluation_metrics(X, clusterer.labels_, "euclidean" )