In [3]:
import pandas as pd
import plotly.express as px
import json
from firebase import firebase

In [4]:
#Tutorial we followed for reading data in firebase from python: https://morioh.com/p/4dca3ded4cea

firebase = firebase.FirebaseApplication('https://safer-walks-default-rtdb.firebaseio.com/', None)
parents_data = firebase.get('/RegisteredParents', '')

In [5]:
#reading schoolsdata file which contains all schools in Sweden.
schools_file = 'schoolsdata.csv'
df_schools = pd.read_csv(schools_file)
df_schools

      school_long  school_lat     osm_id               school_name
0       11.939127   57.694679    4742340               Fjällskolan
1       11.945730   57.696740    4768432      Oscar Fredriksskolan
2       18.116401   59.382723    4875003          Sticklinge skola
3       17.914796   59.482734    6062883            Rotsunda skola
4       17.920795   59.465465   13862875            Stallets skola
...           ...         ...        ...                       ...
3105    14.499669   59.316717  871653648             Skrantaskolan
3106    14.077498   57.894733  871990590  I Ur och Skur Oxdragaren
3107    14.082188   57.919182  872880398       Förskolan Äventyret
3108    13.931429   55.456706  874056551          Köpingebro skola
3109    14.542982   60.993327   11521415           Utmelandsskolan

[3110 rows x 4 columns]

In [6]:
#Creating a dataframe from parents_data. 
df_parents = pd.DataFrame()
for i, parent in enumerate(parents_data.values()):
    df_parents = df_parents.append(pd.DataFrame(parent, index=[i]), ignore_index=True)

In [7]:
#Splitting userLocation from df_parents, into latitude: user_lat and longitude: user_long.
df_parents['user_lat'] = [float(s.split(',')[0]) for s in df_parents['userLocation']]
df_parents['user_long'] = [float(s.split(',')[1]) for s in df_parents['userLocation']]

In [8]:
#Merging df_schools into df_parents by schoolId(df_parents) and osm_id(df_schools)
df = pd.merge(df_parents, df_schools, left_on='schoolId', right_on='osm_id')

In [9]:
df.groupby("school_name").count()

,parentName,schoolId,timeRegistration,userLocation,user_lat,user_long,school_long,school_lat,osm_id
school_name,,,,,,,,,
Edsbergsskolan,8,8,8,8,8,8,8,8,8
Gärdeskolan,8,8,8,8,8,8,8,8,8
Hagalundsskolan,2,2,2,2,2,2,2,2,2
Kärrdalsskolan,5,5,5,5,5,5,5,5,5
Nordiska musikgymnasiet,2,2,2,2,2,2,2,2,2
Pärlan,2,2,2,2,2,2,2,2,2
Rudbeck Valfrihetens Gymnasium,7,7,7,7,7,7,7,7,7
Råsunda skola,3,3,3,3,3,3,3,3,3
Rösjöskolan,9,9,9,9,9,9,9,9,9
Skärholmens Gymnasieskolor,3,3,3,3,3,3,3,3,3
Stocksundsskolan,1,1,1,1,1,1,1,1,1
Vittra Rösjötorp,1,1,1,1,1,1,1,1,1
Västerholms friskola,4,4,4,4,4,4,4,4,4

In [10]:
token = open(".mapbox_token").read() #This file must not go in the commit in git.
#Creating the map
px.set_mapbox_access_token(token)
df["schoolId"] = df["schoolId"].astype(str)
fig = px.scatter_mapbox(df, lon='user_long', lat='user_lat', color='school_name',
                        hover_data=['parentName', 'timeRegistration'])
fig.update_layout(
    mapbox = {
        'style': "satellite"},
    showlegend = True)
fig.show()

FileNotFoundError: [Errno 2] No such file or directory: '.mapbox_token'

In [11]:
df

,parentName,schoolId,timeRegistration,userLocation,user_lat,user_long,school_long,school_lat,osm_id,school_name
0,Johan Eriksson,299737854,"24, Dec, 2020, 12:05","59.2794315,17.8900085",59.279432,17.890009,17.899835,59.273127,299737854,Västerholms friskola
1,Sofia Andersson,299737854,"24, Dec, 2020, 14:05","59.2794355,17.8899913",59.279435,17.889991,17.899835,59.273127,299737854,Västerholms friskola
2,Manpreet Singh,299737854,"24, Dec, 2020, 15:28","59.2796401,17.8918366",59.279640,17.891837,17.899835,59.273127,299737854,Västerholms friskola
3,Petra Johansson,299737854,"24, Dec, 2020, 15:36","59.2779426,17.8854605",59.277943,17.885461,17.899835,59.273127,299737854,Västerholms friskola
4,Ana Varela,70223549,"24, Dec, 2020, 12:12","59.4441698,17.9733782",59.444170,17.973378,17.976933,59.446505,70223549,Rösjöskolan
5,Camilo Lopez,70223549,"24, Dec, 2020, 12:15","59.4441556,17.9734932",59.444156,17.973493,17.976933,59.446505,70223549,Rösjöskolan
6,Patricia King,70223549,"24, Dec, 2020, 12:19","59.4447571,17.9739011",59.444757,17.973901,17.976933,59.446505,70223549,Rösjöskolan
7,Charles Monaghan,70223549,"24, Dec, 2020, 12:19","59.44476,17.9736518",59.444760,17.973652,17.976933,59.446505,70223549,Rösjöskolan
8,Jhon Botts,70223549,"24, Dec, 2020, 12:24","59.4455232,17.9744158",59.445523,17.974416,17.976933,59.446505,70223549,Rösjöskolan
9,Ricky Kwon,70223549,"24, Dec, 2020, 12:51","59.447481,17.9684811",59.447481,17.968481,17.976933,59.446505,70223549,Rösjöskolan
10,Alfonso González,70223549,"24, Dec, 2020, 12:58","59.4476625,17.9686676",59.447662,17.968668,17.976933,59.446505,70223549,Rösjöskolan
11,Michael Johnson,70223549,"29, Dec, 2020, 13:29","59.444971,17.9695718",59.444971,17.969572,17.976933,59.446505,70223549,Rösjöskolan
12,Chloe Taylor,70223549,"29, Dec, 2020, 13:34","59.4450739,17.9663071",59.445074,17.966307,17.976933,59.446505,70223549,Rösjöskolan
13,Håkan Persson,23249315,"24, Dec, 2020, 12:15","59.4441556,17.9734932",59.444156,17.973493,17.965293,59.444763,23249315,Edsbergsskolan
14,Fred Schuler,23249315,"24, Dec, 2020, 12:24","59.4455232,17.9744158",59.445523,17.974416,17.965293,59.444763,23249315,Edsbergsskolan
15,Michael Naidu,23249315,"24, Dec, 2020, 13:09","59.4489836,17.9649762",59.448984,17.964976,17.965293,59.444763,23249315,Edsbergsskolan
16,Karin Bengtsson,23249315,"24, Dec, 2020, 13:15","59.4482551,17.9654173",59.448255,17.965417,17.965293,59.444763,23249315,Edsbergsskolan
17,Steffen Helmshrot,23249315,"29, Dec, 2020, 13:29","59.444971,17.9695718",59.444971,17.969572,17.965293,59.444763,23249315,Edsbergsskolan
18,Aiden Wood,23249315,"29, Dec, 2020, 13:45","59.4457457,17.9659104",59.445746,17.965910,17.965293,59.444763,23249315,Edsbergsskolan
19,Aria Williams,23249315,"29, Dec, 2020, 14:00","59.4444091,17.9751874",59.444409,17.975187,17.965293,59.444763,23249315,Edsbergsskolan
20,Olof Lindström,23249315,"30, Dec, 2020, 15:02","59.4455938,17.9657726",59.445594,17.965773,17.965293,59.444763,23249315,Edsbergsskolan
21,Frank Vickers,25473169,"24, Dec, 2020, 12:30","59.4454419,17.9768031",59.445442,17.976803,17.956377,59.443762,25473169,Gärdeskolan
22,Samuel Hansson,25473169,"24, Dec, 2020, 12:40","59.4461952,17.9716739",59.446195,17.971674,17.956377,59.443762,25473169,Gärdeskolan
23,Simone Williams,25473169,"24, Dec, 2020, 13:04","59.4482357,17.9661178",59.448236,17.966118,17.956377,59.443762,25473169,Gärdeskolan
24,Bill Waits,25473169,"29, Dec, 2020, 13:26","59.445059,17.9714214",59.445059,17.971421,17.956377,59.443762,25473169,Gärdeskolan
25,Robert Lanza,25473169,"29, Dec, 2020, 13:29","59.444971,17.9695718",59.444971,17.969572,17.956377,59.443762,25473169,Gärdeskolan
26,Harper Brown,25473169,"29, Dec, 2020, 13:40","59.4456751,17.9660234",59.445675,17.966023,17.956377,59.443762,25473169,Gärdeskolan
27,Aiden Wood,25473169,"29, Dec, 2020, 13:45","59.4457457,17.9659104",59.445746,17.965910,17.956377,59.443762,25473169,Gärdeskolan
28,Anna Nilsson,25473169,"30, Dec, 2020, 14:58","59.4454023,17.9656498",59.445402,17.965650,17.956377,59.443762,25473169,Gärdeskolan
29,Martha Sargent,23309124,"24, Dec, 2020, 12:34","59.4463175,17.9751108",59.446317,17.975111,17.953656,59.443918,23309124,Rudbeck Valfrihetens Gymnasium
30,Matthew Martin,23309124,"24, Dec, 2020, 12:44","59.445981,17.9708373",59.445981,17.970837,17.953656,59.443918,23309124,Rudbeck Valfrihetens Gymnasium
31,Christian Faust,23309124,"24, Dec, 2020, 12:49","59.4474004,17.9685759",59.447400,17.968576,17.953656,59.443918,23309124,Rudbeck Valfrihetens Gymnasium
32,Elijah Smith,23309124,"29, Dec, 2020, 13:51","59.4450882,17.967095",59.445088,17.967095,17.953656,59.443918,23309124,Rudbeck Valfrihetens Gymnasium
33,Juan Valencia,23309124,"29, Dec, 2020, 13:51","59.4450883,17.967096",59.445088,17.967096,17.953656,59.443918,23309124,Rudbeck Valfrihetens Gymnasium
34,Amelia Thomas,23309124,"29, Dec, 2020, 13:55","59.4456231,17.9728858",59.445623,17.972886,17.953656,59.443918,23309124,Rudbeck Valfrihetens Gymnasium
35,Linea Berg,23309124,"30, Dec, 2020, 15:05","59.4446271,17.9687939",59.444627,17.968794,17.953656,59.443918,23309124,Rudbeck Valfrihetens Gymnasium
36,Tarun Khosla,44698597,"24, Dec, 2020, 15:27","59.2796401,17.8918366",59.279640,17.891837,17.904642,59.275390,44698597,Skärholmens Gymnasieskolor
37,Rahul Singh,44698597,"24, Dec, 2020, 15:28","59.2796401,17.8918366",59.279640,17.891837,17.904642,59.275390,44698597,Skärholmens Gymnasieskolor
38,Javed Pathan,44698597,"24, Dec, 2020, 15:28","59.2796401,17.8918366",59.279640,17.891837,17.904642,59.275390,44698597,Skärholmens Gymnasieskolor
39,Souvik Singh,246041757,"24, Dec, 2020, 15:46","59.2760744,17.8871044",59.276074,17.887104,17.884651,59.268316,246041757,Pärlan
40,Shamim Banu,246041757,"24, Dec, 2020, 15:46","59.2760744,17.8871044",59.276074,17.887104,17.884651,59.268316,246041757,Pärlan
41,Grayson Martin,70684277,"29, Dec, 2020, 14:04","59.4432846,17.974866",59.443285,17.974866,17.997986,59.431547,70684277,Kärrdalsskolan
42,Caden Clark,70684277,"29, Dec, 2020, 14:09","59.4433953,17.9737256",59.443395,17.973726,17.997986,59.431547,70684277,Kärrdalsskolan
43,Tim Taylor,70684277,"30, Dec, 2020, 14:49","59.4439372,17.9730022",59.443937,17.973002,17.997986,59.431547,70684277,Kärrdalsskolan
44,Helena Naser,70684277,"30, Dec, 2020, 14:54","59.4452675,17.9710797",59.445267,17.971080,17.997986,59.431547,70684277,Kärrdalsskolan
45,Lynn Fransson,70684277,"30, Dec, 2020, 15:09","59.4448225,17.9725151",59.444823,17.972515,17.997986,59.431547,70684277,Kärrdalsskolan
46,Chovin Reese,156432749,"29, Dec, 2020, 19:17","59.3584927,17.9937075",59.358493,17.993707,17.990420,59.362491,156432749,Råsunda skola
47,Jack Bauer,156432749,"29, Dec, 2020, 19:17","59.3584927,17.9937075",59.358493,17.993707,17.990420,59.362491,156432749,Råsunda skola
48,Cloe Morgon,156432749,"29, Dec, 2020, 19:17","59.3584927,17.9937075",59.358493,17.993707,17.990420,59.362491,156432749,Råsunda skola
49,Imran Khan,344176140,"29, Dec, 2020, 19:17","59.3584927,17.9937075",59.358493,17.993707,18.006640,59.364406,344176140,Hagalundsskolan
50,Virat Kohli,344176140,"29, Dec, 2020, 19:17","59.3584927,17.9937075",59.358493,17.993707,18.006640,59.364406,344176140,Hagalundsskolan
51,John Carter,187947442,"29, Dec, 2020, 19:44","59.3095709,18.0211531",59.309571,18.021153,18.025436,59.311185,187947442,Nordiska musikgymnasiet
52,Johan Sandars,187947442,"29, Dec, 2020, 19:44","59.3095709,18.0211531",59.309571,18.021153,18.025436,59.311185,187947442,Nordiska musikgymnasiet
53,Camilo Cienfuegos,79811634,"30, Dec, 2020, 15:31","59.4440451,17.9731885",59.444045,17.973188,17.993713,59.435966,79811634,Vittra Rösjötorp
54,Samuel Ruiz,118694174,"30, Dec, 2020, 21:24","59.3814015,18.0318553",59.381402,18.031855,18.046876,59.387255,118694174,Stocksundsskolan

In [12]:
df.groupby("school_name").count()

,parentName,schoolId,timeRegistration,userLocation,user_lat,user_long,school_long,school_lat,osm_id
school_name,,,,,,,,,
Edsbergsskolan,8,8,8,8,8,8,8,8,8
Gärdeskolan,8,8,8,8,8,8,8,8,8
Hagalundsskolan,2,2,2,2,2,2,2,2,2
Kärrdalsskolan,5,5,5,5,5,5,5,5,5
Nordiska musikgymnasiet,2,2,2,2,2,2,2,2,2
Pärlan,2,2,2,2,2,2,2,2,2
Rudbeck Valfrihetens Gymnasium,7,7,7,7,7,7,7,7,7
Råsunda skola,3,3,3,3,3,3,3,3,3
Rösjöskolan,9,9,9,9,9,9,9,9,9
Skärholmens Gymnasieskolor,3,3,3,3,3,3,3,3,3
Stocksundsskolan,1,1,1,1,1,1,1,1,1
Vittra Rösjötorp,1,1,1,1,1,1,1,1,1
Västerholms friskola,4,4,4,4,4,4,4,4,4

In [13]:
dff = df.loc[df["schoolId"] == 70223549 ]

In [14]:
numerical = ["user_long", "user_lat"]

X = dff[[c for c in dff.columns if c in numerical]]


X = pd.DataFrame(X, columns=numerical)
y = dff.iloc[:, -1]

In [15]:
from sklearn.cluster import KMeans
from sklearn import metrics

In [16]:

kmeans = KMeans(n_clusters=3)

#compute kmeans clustering
kmeans.fit(X)
#call the kmeans object, predict, to predict the cluster index of each sample. 

y_kmeans = kmeans.predict(X)

In [17]:
y_kmeans

array([1, 1, 1, 1, 1, 2, 2, 2, 0], dtype=int32)

In [18]:
def evaluation_metrics(X, labels_pred, metric_name):


        s_s = metrics.silhouette_score(X, labels_pred, metric=metric_name)
       

        metrics_names = ["Silh_S"]
        values = [s_s]
        

        result = list(zip(metrics_names,values))
        result = pd.DataFrame(result, columns=['Metric','Value'])

        return result

In [19]:
evaluation_metrics(X, kmeans.labels_, "euclidean" )

   Metric     Value
0  Silh_S  0.606623

In [26]:
import hdbscan

In [43]:
clusterer = hdbscan.HDBSCAN(min_cluster_size=3, metric = 'haversine')
clusterer.fit(X)

HDBSCAN(metric='haversine', min_cluster_size=3)

In [44]:
hdbscan_result = clusterer.labels_

In [45]:
hdbscan_result

array([0, 0, 0, 0, 0, 1, 1, 1, 1])